body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  background: #fff;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}

.header-logo .header-logo-studio {
  color: #2e2f42;
}

.header-menu-item {
  list-style-type: none;
}

.header-menu-item-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02;
  text-decoration: none;
  color: #2e2f42;
}

.header-address-list {
  list-style-type: none;
}

.header-address-item-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02;
  color: #434455;
  text-decoration: none;
  font-style: normal;
}

.hero {
  background: #2e2f42;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02;
  text-align: center;
  color: #fff;
}

.hero-button {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04;
  color: #fff;
  background: #4d5ae5;
}

.studio-list {
  list-style-type: none;
}

.studio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02;
}

.studio-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02;
  color: #434455;
}

.team {
  background: #f4f4fd;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02;
  text-align: center;
}

.team-list {
  list-style-type: none;
}

.team-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02;
  text-align: center;
}

.team-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02;
  text-align: center;
  color: #434455;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02;
  text-align: center;
}

.portfolio-item {
  list-style-type: none;
}

.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02;
}

.portfolio-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02;
  color: #434455;
}

.footer {
  background: #2e2f42;
}

.footer-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-logo .footer-logo-studio {
  color: #f4f4fd;
}

.footer-text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02;
  color: #f4f4fd;
  text-transform: uppercase;
  text-decoration: none;
}
